hr {
  margin: 0 0 5px 0;
}
.bg-for-footer {
  background-color: #ececec;
}
.bg-for-footer a {
  color: #333333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.bg-for-footer a:hover {
  color: #9f1b1b;
}
.wrapper-contact-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  padding: 45px 0 15px 0;
  line-height: 21px;
  font-size: 14px;
}
.wrapper-contact-us ul {
  margin: 0;
  padding: 0 15px;
  list-style: none;
}
.wrapper-contact-us ul li:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
}
.wrapper-contact-us .phone-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.wrapper-contact-us .phone-box span {
  font-size: 15px;
  font-weight: 700;
}
.wrapper-contact-us .phone-box a {
  font-size: 19px;
  line-height: 24px;
  margin: 15px 0;
}
.wrapper-contact-us .phone-box .wrap-call button {
  background-color: #9f1b1b;
  color: #fff;
  border: solid 1px #9f1b1b;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  font-size: 13px;
  height: 55px;
  text-align: center;
  width: 190px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 400;
  text-transform: uppercase;
}
.wrapper-contact-us .phone-box .wrap-call button:hover {
  background-color: transparent;
  color: #3f3f3f;
}
.footer-bottom-wrap {
  background-color: #a9a9a9;
}
.footer-bottom-wrap .footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between;
  padding: 10px 0;
}
.footer-bottom-wrap .footer-bottom span {
  text-transform: uppercase;
  margin-right: 49%;
  color: #fff;
}
.footer-bottom-wrap .footer-bottom ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer-bottom-wrap .footer-bottom ul li {
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  cursor: pointer;
  margin: 0 3px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.footer-bottom-wrap .footer-bottom ul li:nth-child(1) {
  background: url("../css/bg-img/vk.png") no-repeat center transparent;
}
.footer-bottom-wrap .footer-bottom ul li:nth-child(2) {
  background: url("../css/bg-img/facebook.png") no-repeat center transparent;
}
.footer-bottom-wrap .footer-bottom ul li:nth-child(3) {
  background: url("../css/bg-img/linkedin.png") no-repeat center transparent;
}
.footer-bottom-wrap .footer-bottom ul li:nth-child(4) {
  background: url("../css/bg-img/google+.png") no-repeat center transparent;
}
.footer-bottom-wrap .footer-bottom ul li:nth-child(5) {
  background: url("../css/bg-img/youtube.png") no-repeat center transparent;
}
.footer-bottom-wrap .footer-bottom ul li:nth-child(6) {
  background: url("../css/bg-img/insta.png") no-repeat center transparent;
}
.footer-bottom-wrap .footer-bottom ul li:hover {
  background-color: #9f1b1b;
}
