
@media only screen and (max-width: 1800px) {

}

@media only screen and (min-device-width: 901px) and (max-width: 1200px) {

  .container {
    overflow: hidden;
  }

  .bg-for-section-1 {
    .wrapper-form-section-1 .search-cargo-wrap {
      background: none;
      h3 {
        font-size: 1.5rem;
      }
    }
    .wrapper-form-section-1 .calc-price {
      background: none;
      margin-left: 30px;
      padding: 36px 0 0 0;

      h3 {
        font-size: 1.5rem;
      }
    }
  } //----- .bg-for-section-1 -----

  .bg-for-section-2 {
    .box-item {
      h3 {
        a {
          line-height: 18px;
        }
      }
    }
  } //----- .bg-for-section-2 -----

  .bg-for-section-3 {
    .wrapper-map {
      padding: 15px 0;
      .map {
        img {
          width: 100%;
          height: auto;
          max-width: 632px;
        }
      }
      .desc-map {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h4 {
          font-size: 22px;
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          line-height: 24px;
          text-align: right;
        }
        button {
          height: 45px;
          margin: 0;
        }
      }
    }
  } //----- .bg-for-section-3 -----

  .bg-for-section-4 {
    .wrapper-content-section-4 {
      .wrapper-form-submit {
        //margin-left: 0;
        min-width: 100%;
        .form-group {
          input {
            max-width: 90%;
            min-width: 19rem;
          }
        }
        button {
          width: 160px;
        }
      }
    }
    .wrapper-example-q {
      margin-left: 20px;
      padding-bottom: 15px;
    }
  } //----- .bg-for-section-4 -----

  .bg-for-section-6 {
    .wrapper-section-6 .img-section-6 .wrapper-img-section-6 {
      position: static;
    }
    .wrapper-img-section-6 {
      img {
        width: 100%;
        height: auto;
        padding: 0;
      }
      &:before {
        display: none;
      }
    }
  } //----- .bg-for-section-6 -----

  .bg-for-section-9 {
    .box-wrap-section-9 {
      .box-item-section-9 {
        &:after {
          display: none;
        }
      }
    }
  } //----- .bg-for-section-9 -----

  .bg-for-footer {
    .wrapper-contact-us {
      flex-direction: row;
      align-content: space-between;
      align-items: flex-start;
      padding: 10px 0 150px 0;
      position: relative;
      ul {
        min-width: 20%;
      }
      .phone-box {
        position: absolute;
        top: 165px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
        a {
          margin: 5px 0;
        }
        button {
          height: 45px;
        }
      }
    } //----- .wrapper-contact-us -----
    .footer-bottom-wrap .footer-bottom span {
      margin-right: 40%;
    }
  } //----- .bg-for-footer -----


} //----- max-width: 1200px -----

@media only screen and (max-width: 900px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }

  .bg-for-header {
    .wrapper-log-in {
      display: none !important;
    }
    .navbar-toggleable-sm .navbar-collapse {
      width: auto;
    }
    .user-mini {
      display: block !important;
      width: 33px;
      height: 33px;
      background: url("../css/bg-img/user-mini.png") no-repeat center;
    }
    .header-site {
      margin: 0 auto;
      .navbar {
        padding: 0;
        margin: 0 auto;
        align-self: center;
      }
      .navbar-brand {
        margin: 0 10px;
      }
      .wrapper-phone {
        min-width: 150px;
        padding-right: 5px;
        a {
          font-size: 16px;
          line-height: 23px;
        }
      }
    }
  } //----- .bg-for-header -----

  .bg-for-section-1 {
    width: 100%;
    height: auto;
    background-repeat: round;
    background-position: inherit;
    .container {
      width: 100%;
    }
    h1 {
      font-size: 24px;
      padding: 15px 0;
      margin: 0;
    }
    .desc-h1 {
      padding: 0 10%;
      font-size: 14px;
      line-height: 16px;
    }
    .wrapper-form-section-1 {
      margin: 0;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      .search-cargo-wrap {
        background: none;
        padding: 0;
        margin: 0;
        .search-cargo-box {
          button {
            height: 45px;
          }
        }
      }
      .calc-price {
        background: none;
        padding: 0;
        margin: 0;
        .form-calc-box {
          .wrapper-form-carry {
            flex-direction: column;
            align-items: center;
          }
          .wrapper-form-calc {
            align-self: center;
            margin-top: 15px;
            .wrapper-size-cargo {
              margin: 0 10px;
            }
            input {
              margin: 5px 0;
            }
            label {
              display: none;
            }
            span {
              //color: #555;
              margin: 0;
              font-size: 24px;
              padding: 5px 0;
            }
          }
        }
        .form-calc-box .wrapper-form-calc .result-calc {
          text-align: center;
        }
        button {
          height: 45px;
          margin-bottom: 15px;
        }
      }
      h3 {
        font-size: 1.25rem;
        position: static;
        padding: 15px 0;
      }
    }
  }//----- .bg-for-section-1 -----

  .bg-for-section-2 {
    .container {
      padding: 0 30px;
    }
    .wrapper-box-item-1 {
      padding: 30px 0 0 0;
    }
    .wrapper-box-item-2 {
      padding: 0 0 30px 0;
    }
    .box-item {
      margin: 5px 5px;
      h3 {
        a {
          line-height: 18px;
        }
      }
    }
  }//----- .bg-for-section-2 -----

  .bg-for-section-3 {
    .wrapper-map {
      padding: 15px 0;
      .map {
        //display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
        align-self: center;
      }
    }
    .desc-map {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 22px;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }
      button {
        height: 45px;
        margin: 0;
      }
    }
  }//----- .bg-for-section-3 -----

  .bg-for-section-4, .bg-for-section-5, .bg-for-section-6, .bg-for-section-7, .bg-for-section-9, .bg-for-section-10 {
    h3 {
      font-size: 22px;
      line-height: 24px;
      padding: 30px 0;
      &:after {
        bottom: 15px;
      }
    }
  }

  .bg-for-section-4 {
    .wrapper-content-section-4 {
      label {
        font-size: 16px;
        line-height: 22px;
        padding: 5px 0;
        margin: 0 auto;
        width: 100%;
        display: inline-block;
        text-align: center;
      }
      .wrapper-form-submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-group {
          flex-direction: column;
          margin-bottom: 15px;
          input {
            max-width: 90%;
            min-width: 20rem;
          }
        }
        button {
          height: 45px;
          margin-bottom: 5px;
        }
      }
    }
    .wrapper-example-q {
      margin: 0;
      padding-bottom: 15px;
    }
  }//----- .bg-for-section-4 -----

  .slider-left {
    background: url("../css/bg-img/slider-left.png") no-repeat;
    width: 15px;
    height: 54px;
    margin-left: -80%;
  } //----- .position prev and next slider -----
  .slider-right {
    background: url("../css/bg-img/slider-right.png") no-repeat;
    width: 15px;
    height: 54px;
    margin-right: -80%;
  } //----- .position prev and next slider -----

  .bg-for-section-5 {
    .ddd {
      h3 {
        font-size: 22px;
        line-height: 24px;
        padding: 30px 0;
        &:after {
          bottom: 20px;
        }
      }
      .content-wrap-section-5 {
        .wrapper-desc-section-5 {
          padding: 0 30px;
          h4 {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            text-align: center;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  } //----- .bg-for-section-5 -----

  .bg-for-section-6 {
    .wrapper-section-6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img-section-6 {
        .wrapper-img-section-6 {
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &:before {
            display: none;
          }
          img {
            width: 100%;
            height: auto;
            max-width: 360px;
            padding: 0;
            outline: 2px solid #fff;
            outline-offset: -5px;
          }
        }
      }
      .content-wrap-section-6 {
        p {
          text-align: justify;
          padding: 0 15px;
        }
      }
    }
  } //----- .bg-for-section-6 -----

  .bg-for-section-7 {
    #carouselExampleControls-1 {
      .carousel-item {
        padding: 0 30px;
        ul {
          padding: 0 10px;
          &:nth-child(4) {
            display: none;
          }
        }
      }
    }
  } //----- .bg-for-section-7 -----

  .bg-for-section-8 {
    width: 100%;
    height: auto;
    background-image: url(../css/bg-img/bg-section-8-1.png);
    background-repeat: round;
    background-position: inherit;
    .wrapper-section-8 {
      padding: 0;
      margin: 0;
      a {
        border-radius: 0;
        margin: 10px 30px;
      }
    }
  } //----- .bg-for-section-8 -----

  .bg-for-section-9 {
    .box-wrap-section-9 {
      margin: 0;
      max-width: 100%;
      padding: 15px 0;
      .w-100 {
        display: none;
      }
      .box-item-section-9 {
        margin: 5px 30px;
        padding: 10px 0 10px 10%;
        &:after {
          display: none;
        }
        strong {
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
        }
      }
    }
  } //----- .bg-for-section-9 -----

  .bg-for-footer {
    .wrapper-contact-us {
      flex-direction: row;
      align-content: space-around;
      align-items: center;
      padding: 10px 0 150px 0;
      position: relative;
      ul {
        min-width: 20%;
        li {
          display: none;
          &:nth-child(1) {
            display: flex;
            padding: 5px 0;
          }
        }
      }
      .phone-box {
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
        a {
          margin: 5px 0;
        }
        button {
          height: 45px;
        }
      }
    } //----- .wrapper-contact-us -----
    .footer-bottom-wrap {
      .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        span {
          margin: 15px 0;
          text-align: center;
        }
        ul {
          margin-top: 10px;
        }
      }
    } //----- .footer-bottom-wrap -----
  } //----- .bg-for-footer -----


} //----- max-width: 900px -----

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
  }
  body {
    font-size: 12px;
    line-height: 16px;
    //overflow: hidden;
  }

  .bg-for-header {
    .navbar-brand {
      margin: 0;
      img {
        width: 100%;
        max-width: 263px;
        height: auto;
      }
    }
    .user-mini {
      width: 50px;
    }
    .header-site {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      align-content: flex-start;
      .navbar .popup-content ul {
        margin: 50px 10px;
      }
    }
    .navbar {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      align-content: flex-start;
      padding: 0;
    }
    .container-popup {
      display: inline-flex;
      margin: 0 10px 0 10px;
    }
    .popup-content {
      flex-wrap: wrap;
    }
    .navbar-nav {
      display: none;
    }
    .wrapper-log-in {
      display: none;
    }
    .wrapper-phone {
      display: none;
    }
  }//----- .bg-for-header -----

  .bg-for-section-1 {
    width: 100%;
    height: auto;
    background-repeat: round;
    background-position: inherit;
    .container {
      width: 100%;
    }
    h1 {
      font-size: 22px;
      padding: 15px 0;
      margin: 0;
    }
    .desc-h1 {
      padding: 0 10%;
      font-size: 12px;
      line-height: 16px;
    }
    .wrapper-form-section-1 {
      margin: 0;
      flex-wrap: nowrap;
      flex-direction: column;
      .search-cargo-wrap {
        background: none;
        padding: 0;
        margin: 0;
        .search-cargo-box {
          button {
            height: 45px;
          }
        }
      }
      .calc-price {
        background: none;
        padding: 0;
        margin: 0;
        .form-calc-box {
          .wrapper-form-carry {
            flex-direction: column;
            align-items: center;
          }
          .wrapper-form-calc {
            flex-direction: column;
            align-items: center;
            margin-top: 15px;
            input {
              margin: 5px 0;
            }
            label {
              display: none;
            }
            span {
              //color: #555;
              margin: 0;
              line-height: 24px;
              font-size: 22px;
              padding: 5px 0;
            }
          }
        }
        .form-calc-box .wrapper-form-calc .result-calc {
          font-size: 28px;
        }
        button {
          height: 45px;
          margin-bottom: 15px;
        }
      }
      h3 {
        font-size: 1.25rem;
        position: static;
        padding: 15px 0;
      }
    }
  }//----- .bg-for-section-1 -----

  .bg-for-section-2 {
    .container {
      padding: 0;
    }
    .wrapper-box-item-1 {
      margin: 0;
      padding: 0;
    }
    .wrapper-box-item-2 {
      margin: 0;
      padding: 0;
    }
    .box-item {
      margin: 5px 5px;
      h3 {
        a {
          line-height: 18px;
        }
      }
    }
  }//----- .bg-for-section-2 -----

  .bg-for-section-3 {
    .wrapper-map {
      padding: 15px 0;
      .map {
        display: none;
      }
    }
    .desc-map {
      display: flex;
      flex-direction: column;
      align-items: center;
      h4 {
        font-size: 22px;
        margin-bottom: 15px;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }
      button {
        height: 45px;
        margin: 0;
      }
    }
  }//----- .bg-for-section-3 -----

  .bg-for-section-4, .bg-for-section-5, .bg-for-section-6, .bg-for-section-7, .bg-for-section-9, .bg-for-section-10 {
    h3 {
      font-size: 22px;
      line-height: 24px;
      padding: 30px 0;
      &:after {
        bottom: 15px;
      }
    }
  }

  .bg-for-section-4 {
    .wrapper-content-section-4 {
      label {
        font-size: 16px;
        line-height: 22px;
        padding: 5px 0;
        margin: 0 auto;
        width: 100%;
        display: inline-block;
        text-align: center;
      }
      .wrapper-form-submit {
        display: flex;
        flex-direction: column;
        align-items: center;
        .form-group {
          flex-direction: column;
          margin-bottom: 15px;
          input {
            max-width: 90%;
            min-width: 19rem;
          }
        }
        button {
          height: 45px;
          margin-bottom: 5px;
        }
      }
    }
    .wrapper-example-q {
      margin: 0;
      padding-bottom: 15px;
    }
  }//----- .bg-for-section-4 -----

  .slider-left {
    background: url("../css/bg-img/slider-left.png") no-repeat;
    width: 15px;
    height: 54px;
    margin-left: -80%;
  } //----- .position prev and next slider -----
  .slider-right {
    background: url("../css/bg-img/slider-right.png") no-repeat;
    width: 15px;
    height: 54px;
    margin-right: -80%;
  } //----- .position prev and next slider -----

  .bg-for-section-5 {
    .ddd {
      h3 {
        font-size: 22px;
        line-height: 24px;
        padding: 30px 0;
        &:after {
          bottom: 20px;
        }
      }
      .content-wrap-section-5 {
        .wrapper-desc-section-5 {
          background-image: none;
          padding: 0 15px;
          h4 {
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            text-align: center;
          }
          p {
            text-align: justify;
            font-size: 16px;
          }
        }
        img {
          display: none;
        }
      }
    }
  } //----- .bg-for-section-5 -----

  .bg-for-section-6 {
    .wrapper-section-6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      .img-section-6 {
        .wrapper-img-section-6 {
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          &:before {
            display: none;
          }
          img {
            width: 100%;
            height: auto;
            max-width: 360px;
            padding: 0;
            outline: 2px solid #fff;
            outline-offset: -5px;
          }
        }
      }
      .content-wrap-section-6 {
        p {
          text-align: justify;
          padding: 0 15px;
        }
      }
    }
  } //----- .bg-for-section-6 -----

  .bg-for-section-7 {
    #carouselExampleControls-1 {
      display: none;
    }
    .read-mre-section-7 {
      margin: 35px 25% 35px 25%;
      a {

      }
    }
  } //----- .bg-for-section-7 -----

  .bg-for-section-8 {
    width: 100%;
    height: auto;
    background-image: url(../css/bg-img/bg-section-8-1.png);
    background-repeat: round;
    background-position: inherit;
    .wrapper-section-8 {
      padding: 0;
      margin: 0;
      a {
        border-radius: 0;
        margin: 5px 10px;
      }
    }
  } //----- .bg-for-section-8 -----

  .bg-for-section-9 {
    .box-wrap-section-9 {
      margin: 0;
      max-width: 100%;
      padding: 15px 0;
      .w-100 {
        display: none;
      }
      .box-item-section-9 {
        margin: 5px 10px;
        padding: 10px 0 10px 20%;
        &:after {
          display: none;
        }
        strong {
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
        }
      }
    }
  } //----- .bg-for-section-9 -----

  .bg-for-section-10 {
    #carouselExampleControls-2 {
      .carousel-item {
        .wrap-review {
          display: none;
          &:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 30px;
            .wrap-head-review {
              flex-direction: column;
            }
          }
        }
      }
    }
  } //----- .bg-for-section-9 -----

  .bg-for-footer {
    .wrapper-contact-us {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      ul {
        &:nth-child(1) {
          margin-left: 0;
        }
        li {
          display: none;
          &:nth-child(1) {
            display: flex;
            padding: 5px 0;
          }
        }
      }
      .phone-box {
        flex-direction: column;
        align-items: center;
        margin: 15px 0;
        position: static;
        a {
          margin: 5px 0;
        }
        button {
          height: 45px;
        }
      }
    } //----- .wrapper-contact-us -----
    .footer-bottom-wrap {
      .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        span {
          margin: 15px 0;
          text-align: center;
        }
        ul {
          margin-top: 10px;
        }
      }
    } //----- .footer-bottom-wrap -----
  } //----- .bg-for-footer -----

} //----- max-width: 600px -----
